# Strings

In [19]:
import math

## Slicing

In [3]:
name = 'My name is Ryan Mitchell'
name[0]

'M'

In [8]:
name[0:7]
name[:7]

'My name'

In [11]:
name[16:]

'Mitchell'

In [12]:
myList = [1,2,3,4,5]
myList[2:4]

[3, 4]

In [13]:
len(name)

24

In [14]:
len(myList)

5

## Formatting

In [15]:
'justin ' + 'rules'

'justin rules'

In [16]:
'My number is: ' + str(5)

'My number is: 5'

In [17]:
f'My number is {5}'

'My number is 5'

In [18]:
f'My number is: {5} and twice that is {5*2}'

'My number is: 5 and twice that is 10'

In [20]:
f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'

In [21]:
'Pi is: {}'.format(math.pi)

'Pi is: 3.141592653589793'

## Multi-line

In [25]:
myString = '''
I wanted
to include
newlines
in this string
using \'\'\'
'''
print(myString)

I wanted
to include
newlines
in this string
using '''

In [26]:
myString

"\nI wanted\nto include\nnewlines\nin this string\nusing '''\n"